@model IEnumerable<WebAppMVC.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

@*<!DOCTYPE html>*@

<h1>KoalaWebbShop</h1>

<form asap-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by productname or category: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to full list</a>
        </p>
    </div>
</form>

<div id="container-container">
    <table>
        <tbody class="table" id="display-container">
            @foreach (var item in Model)
            {
                <tr class="d-xxl-table-cell">
                    <td class="table-bordered" id="Display">
                        @Html.DisplayFor(modelItem => item.Title)
                        <br />
                        @Html.DisplayFor(modelItem => item.Price)
                        <br />
                        @Html.DisplayFor(modelItem => item.Quantity)
                        <br />
                        @Html.DisplayFor(modelItem => item.ImgURL)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


