@model IEnumerable<WebAppMVC.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="columns is-multiline is-mobile">
    @foreach (var item in Model)
    {
        <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">@Html.DisplayFor(modelItem => item.Title)</p>
                </header>
                <div class="card-image">
                    <figure class="image is-square">
                        <img src="@item.ImgURL" alt=""/>
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        @Html.DisplayFor(modelItem => item.Price)
                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                    <a class="card-footer-item" asp-action="Details" asp-route-id="@item.ProductId">Detail</a>

                </footer>
            </div>
        </div>
    }
</div>