@model IEnumerable<WebAppMVC.Models.ViewModels.CurrencyViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="box">
    <h1 class="title has-text-centered">Currency Management</h1>
    <div class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">@Html.DisplayNameFor(model => model.Date)</p>
                <p class="title">@Html.DisplayFor(model => model.FirstOrDefault().Date)</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">@Html.DisplayNameFor(model => model.Base)</p>
                <p class="title">@Html.DisplayFor(model => model.FirstOrDefault().Base)</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">@Html.DisplayNameFor(model => model.RateSEK)</p>
                <p class="title">@Html.DisplayFor(model => model.FirstOrDefault().RateSEK)</p>
            </div>
        </div>

        <div class="level-item has-text-centered">
            <div>
                <p class="heading">@Html.DisplayNameFor(model => model.RateUSD)</p>
                <p class="title">@Html.DisplayFor(model => model.FirstOrDefault().RateUSD)</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">@Html.DisplayNameFor(model => model.RateEUR)</p>
                <p class="title">@Html.DisplayFor(model => model.FirstOrDefault().RateEUR)</p>
            </div>
        </div>
    </div>

    <form asp-controller="Currency" asp-action="GetCurrency">
        <div class="has-text-centered">
            <button class="button is-link is-medium" type="submit">
                <span class="icon is-large">
                    <ion-icon size="large" name="refresh-circle-outline"></ion-icon>
                </span>
                <span>Update Currency Rates</span>
            </button>
        </div>
    </form>
</div>