@using Microsoft.AspNetCore.Identity
@model WebAppMVC.Models.ViewModels.ProductViewModel
@inject SignInManager<KoalaCustomer> SignInManager

@{
    ViewData["Title"] = "Details";
}

<div class="columns">
    <div class="column is-half-tablet is-offset-one-quarter-tablet">
        <div class="box">
            <h1 class="title">@Html.DisplayFor(model => model.Title)</h1>
            <h2 class="subtitle">
                @Html.DisplayFor(model => model.CategoryTitle)
            </h2>
            <figure class="image is-5by4 block">
                <img src="@Model.ImgURL" alt=""/>
            </figure>
            <div class="block">
                <p class="is-size-5 has-text-weight-semibold">@Html.DisplayFor(model => model.Content)</p>
            </div>

            <form asp-action="AddToCart" asp-route-id="@Model.Id" asp-controller="Cart">

                <div class="level">
                    <div class="level-item">
                        <div class="tags are-large has-addons price SEK">
                            <span class="tag has-background-link-light is-family-monospace">SEK:</span>
                            <span class="tag has-background-link-light is-family-monospace">@Html.DisplayFor(model => model.Price)</span>
                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Customer"))
                            {
                                <button type="submit" class="tag button is-link">BUY</button>
                            }
                        </div>
                        <div class="tags are-large has-addons price USD is-hidden">
                            <span class="tag has-background-link-light is-family-monospace">USD:</span>
                            <span class="tag has-background-link-light is-family-monospace">@Html.DisplayFor(model => model.PriceUSD)</span>
                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Customer"))
                            {
                                <button type="submit" class="tag button is-link">BUY</button>
                            }
                        </div>
                        <div class="tags are-large has-addons price EUR is-hidden">
                            <span class="tag has-background-link-light is-family-monospace">EUR:</span>
                            <span class="tag has-background-link-light is-family-monospace">@Html.DisplayFor(model => model.PriceEUR)</span>
                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Customer"))
                            {
                                <button type="submit" class="tag button is-link">BUY</button>
                            }
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>