@model IEnumerable<WebAppMVC.Models.ViewModels.ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="columns is-multiline is-mobile">
    @foreach (var item in Model)
    {
        <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen">
            <a asp-action="Details" asp-route-id="@item.Id">
                <div class="card has-background-link-light">
                    <header class="card-header">
                        <p class="card-header-title has-text-link is-size-6">@Html.DisplayFor(modelItem => item.Title)</p>
                    </header>
                    <div class="card-image">
                        <figure class="image is-square">
                            <img src="@item.ImgURL" alt=""/>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="level">
                            <div class="level-item">
                                <div class="tags are-large has-addons price SEK">
                                    <span class="tag is-link is-family-monospace">SEK:</span>
                                    <span class="tag is-link is-family-monospace">@Html.DisplayFor(modelItem => item.Price)</span>
                                </div>
                                <div class="tags are-large has-addons price USD is-hidden">
                                    <span class="tag is-link is-family-monospace">USD:</span>
                                    <span class="tag is-link is-family-monospace">@Html.DisplayFor(modelItem => item.PriceUSD)</span>
                                </div>
                                <div class="tags are-large has-addons price EUR is-hidden">
                                    <span class="tag is-link is-family-monospace">EUR:</span>
                                    <span class="tag is-link is-family-monospace">@Html.DisplayFor(modelItem => item.PriceEUR)</span>
                                </div>
                            </div >
                            @* <span class="price USD is-hidden has-text-danger"> *@
                            @*     USD: @Html.DisplayFor(modelItem => item.PriceUSD) *@
                            @* </span> *@
                            @* <span class="price EUR is-hidden has-text-danger"> *@
                            @*     EUR: @Html.DisplayFor(modelItem => item.PriceEUR) *@
                            @* </span> *@
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>